/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  background: linear-gradient(180deg, #070d16 11.07%, #0d1a21 100%);

}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
}

/* Button reset */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Image reset */
img {
  max-width: 100%;
  height: auto;
}

/* Table reset */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Input reset */
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
